# FILE: constraints-release.txt
# KIT: Architecture & Implementation Compliance Kit
# FILE_VERSION: 1.0.0
# DATE_GREGORIAN: 2026-09-24
# DATE_PERSIAN: 1405-07-02
# AUTHOR: محمد حسن زاده
# RESPONSIBILITY: Pin release build and provenance tooling for G08.
# LAYER: repository-ci
# OWNS: Release build tool versions.
# DOES_NOT_OWN: Runtime dependencies, signing credentials, or release approval.
# DEPENDENCIES: build; setuptools
# PYTHON: >=3.13
# LICENSE: Proprietary — All Rights Reserved
# NOTICE: Unauthorized use prohibited without written authorization
# COMPLIANCE: Architecture & Implementation Compliance Kit v1.0

build==1.6.1
setuptools==84.0.0
